*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url('img/bg.jpg');
    background-size: 100%;
    color: white;
}
nav{
    padding-inline: 75px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 20px;
}
nav h1{
    font-size: 30px;
}
ul{
    display: flex;
    list-style: none;
}
ul button{
    width: 100px;
    height: 25px;
    background-color: red;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}
ul button:hover{
    border: 3px solid white;
    background-color: rgb(226, 42, 42);
    cursor: pointer;
}
ul li a{
    margin-inline: 30px;
    font-size: 15px;
}
ul li a:hover{
    border-bottom: 4px solid rgb(42, 42, 225);
    border-radius: 3px;
    margin-top: 2px;
    cursor:pointer;
    font-size: 16px;
}
.text{
    margin-left: 5%;
    margin-top: 120px;
}
.text h1{
    font-size: 100px;
}
.text p{
    font-size: 27px;
    margin-top: 20px;
}
.text button{
    width: 170px;
    height: 44px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 12px;
    margin-top: 50px;
    font-size: 25px;
}
.text button:hover{
    border: 3px solid white;
    background-color: rgb(227, 52, 52);
    cursor: pointer;
}